<footer>
	<div class="footer-copyright text-center py-3">© 2024 Copyright:
		<a href="/">
			BitChest</a>
		<a target="_blank" href="https://github.com/Malk2375/BitChest">
			GitHub</a>
	</div>
</footer>
