{# {% extends "base.html.twig" %}
{% block title %}
	Hello - Sell Crypto
{% endblock %}
{% block body %}
	<style>
		.example-wrapper {
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class='example-wrapper'>
		<h1 class="mt-4">Sell Crypto</h1>
		{% if userCryptoAmounts is not null %}
			<div class="card-body">
				<h4 class="card-title">Crypto</h4>
				{% for cryptoName, amount in userCryptoAmounts %}
					<p class="card-text">{{ cryptoName }}:
						{{ amount }}
					</p>
				{% endfor %}
			{% else %}
				<h4 class="card-title">Crypto</h4>
				<p class="card-text">User has no crypto amounts.</p>
			</div>
		{% endif %}

		{{ form(form) }}
		</div>
	{% endblock %}
 #}

{% extends "base.html.twig" %}
{% block title %}
	Hello - Sell Crypto
{% endblock %}
{% block body %}
	<style>
		.example-wrapper {
			max-width: 47rem;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class='example-wrapper'>
		<h1 class="mt-4">Sell Crypto</h1>
		{{ form(form) }}
		</div>
	{% endblock %}
